<!--The content below is only a placeholder and can be replaced.-->
<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
  <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
  <li> <a class="nav-link" routerLink="/login">login</a></li>
  <li><a class="nav-link" routerLink="/account">Account</a></li>
  </ul>
  </div>
 </nav>
 <div class="container">
 <router-outlet></router-outlet>
 </div>
-->





 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row">    
            <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
                <ul class="sidenav admin-sidenav list-unstyled">
                    <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
                    <li> <a class="nav-link" routerLink="/login">login</a></li>
                    <li><a class="nav-link" routerLink="/account">Account</a></li>
                                     
                </ul>
            </div> <!-- /#admin-sidebar -->
            
        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
</body>
<router-outlet></router-outlet>
